<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">

<title>Pick and place<</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/bootstrap/css/jumbotron.css" rel="stylesheet">



</head>

<body>
<div class="container">

    <p id="info"></p>
    <div class="row" >
        <div class="col-sm-4" >
            <img id="camera" class="img-responsive" width=1000 >
        </div>
        <div class="col-sm-4" >
            <img id="camera2" class="img-responsive" width=1000 >

        </div>
        <div class="col-sm-4">
            <div class="row">
            <button type="button" id="moveNegativeX" class="btn btn-primary" >
                move X -1
            </button>
            <button type="button" id="goToZeroX" class="btn btn-primary" >
                go to 0
            </button>
            <button type="button" id="moveX" class="btn btn-primary" >
                move X 0.3
            </button>
            </div>
            <div class="row" style="margin-top:20px;">
                <button type="button" id="moveNegativeY" class="btn btn-primary" >
                    move Y -1
                </button>
                <button type="button" id="goToZeroY" class="btn btn-primary" >
                    go to 0
                </button>
                <button type="button" id="moveY" class="btn btn-primary" >
                    move Y 0.3
                </button>
            </div>
        </div>
    </div>

    <div class="row" >
        <div id="chart" style="width:600px;height:600px;"></div>
    </div>
    <div class="row">


    </div>

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.11.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script>
$(document).ready(function() {

    var socket = io.connect('http://192.168.0.4:8080');

  socket.on('image', function(info){
             if(info.image)
             {
            $('img#camera').attr('src', 'data:image/jpeg;base64,' + info.buffer);
            
            
             }});

    socket.on('image2', function(info){
        if(info.image)
        {
            $('img#camera2').attr('src', 'data:image/jpeg;base64,' + info.buffer);


        }});
    socket.on('point', function(point){
            addPoint(point)
    });

    var trace1 = {
        x: [],
        y: [],
        mode: 'markers',
        type: 'scatter'
    };

    var trace2 = {
        x: [],
        y: [],
        mode: 'markers',
        type: 'scatter'
    };

    var data = [trace1, trace2];

    function addPoint(point){
        data[0].x.push(point.x);
        data[0].y.push(point.y);
        Plotly.newPlot('chart', data);

        socket.emit("moveRelativeY", 0.05);
    }

    //X Axis
    $("#goToZeroX").click(function(){
        socket.emit("moveAbsoluteX", 0);
    });

    $("#moveX").click(function(){
        socket.emit("moveRelativeX", 0.3);
    });
    $("#moveNegativeX").click(function(){
        socket.emit("moveRelativeX", -1);
    });

    //Y Axis
    $("#goToZeroY").click(function(){
        socket.emit("moveAbsoluteY", 0);
    });

    $("#moveY").click(function(){
        socket.emit("moveRelativeY", 0.3);
    });
    $("#moveNegativeY").click(function(){
        socket.emit("moveRelativeY", -1);
    });
});


</script>

<script type="text/javascript" src="js/plotly/dependencies/d3.v3.min.js"></script>
<script type="text/javascript" src="js/plotly/dependencies/jquery-latest.js"></script>
<script type="text/javascript" src="js/plotly/plotly.min.js"></script>


<!--
    And then you are ready to make plots!
-->

</body>
</html>

